<!DOCTYPE html>

<html>
  <head>
    <script src="public/common.js" defer></script>

    <title>URL Shortener Microservice | freeCodeCamp.org</title>
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png"
    />

    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>
    <main>
      <section>
        <form action="api/shorturl" method="POST" , id="linkForm">
          <fieldset>
            <legend>URL Shortener</legend>
            <label for="url_input">URL:</label>
            <input
              id="url_input"
              type="text"
              name="url"
              placeholder="https://www.freecodecamp.org/"
            />
            <input type="button" value="POST URL" onclick="createLink(this)" />
          </fieldset>
        </form>
      </section>
    </main>
    <footer>
      <p>By <a href="https://www.freecodecamp.org/">freeCodeCamp</a></p>
    </footer>
  </body>
  <script>
    async function createLink(button) {
      // serialize form and pass to endpoint
      let formData;
      let response;
      try {
        response = await fetch("/api/shorturl", {
          method: "POST",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
            Authorization: localStorage.getItem("authToken"),
          },
          body: JSON.stringify(formData),
        });
      } catch (e) {
        console.error(e.message);
        return { login: false, message: "server is not responding" };
      }
    }

    // create FE logic after succesfully saving of link
    // response will contain link json data
    // create popup that will render the link
    // response.json()
  </script>
</html>
