<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <form action="/login" method="POST">
      <fieldset>
        <label for="username_input"> Username: </label>
        <input
          id="username_input"
          type="text"
          name="username"
          placeholder="Your Username"
        />

        <label for="password_input"> Password: </label>
        <input
          type="password"
          name="password"
          id="password_input"
          placeholder="Your Password"
        />
        <input type="submit" value="Login" />
      </fieldset>
    </form>
  </body>
</html>
